@import 'config', 'colors', 'menu';


#dash {
    display: flex;
    flex-direction: column;
}
.painelPag {
    display: flex;
}

.conteudoTabela {
    border-collapse: collpase;
    text-align: center;
    margin: 25px 0;
    min-width: 1200px;
    
    th, td {
        padding: 8px 15px;
    }
    thead tr {
        background-color: $redtwo;
        color: $white;
        text-transform: uppercase;
        height: 35px;
        
        th{
            font-weight: bold;
        }
    }

    tbody tr {
        border: 3px solid thistle;
        
        span {
        font-size: 1.7em;
        color: forestgreen;
        }
    }
    tbody tr:nth-of-type(even) {
        background-color: $redalpha;
    }
}
    

